.inp{
    width: 100%;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.701);
    border-radius: 5px;
}

.box{
    position: fixed;
    display:flex;
    flex-direction: column;
    width: 20%;
    justify-content:space-evenly;
    background-color: rgba(193, 101, 212, 0.347);
    padding: 40px;
    margin: 2%;
    margin-left: 10%;
    border-radius: 10px;
    box-shadow: 8px 8px 5px rgba(128, 128, 128, 0.56);
}
#button{
    background-color: rgba(161, 23, 92, 0.704);
    width: 100%;
}
.btn{
    text-decoration: none;
    color: white;
}
p{
    text-align: center;   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.icons{
    display: flex;
    justify-content: space-evenly;

}
.ask{
    font-weight: bold;
}

.icon:hover{
    transform: scale(1.2);
}

.new{
    text-decoration:none;
    color:rgb(173, 71, 71);
}